html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.boldText{
    font-size:25px;
    font-weight:bold;
}

#head {
    height: 50px;
    font-size: 25px;
    background-color: beige;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin:20px;
}

#menu {
    height: 60px;
    display: flex;
}

#index, #test{
    box-shadow: 7px 7px 10px 10px lightgrey;
    height: 100%;
    margin: 2%;
    padding: 2%;
    border-radius: 2px;
}

#footer {
    display: flex;
    padding: 10px 50px 10px 50px;
}

#footer div {
    width: 25%;
}

#menu > div {
    width: 10%;
    text-align: center;
    padding: 16px;
}

#menu a {
    border: 2px solid #c1c1c1;
    border-radius: 6px;
    padding: 12px 24px 12px 24px;
    box-shadow: 2px 2px 2px 1px lightgrey;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    margin:10px;
    text-align:center;
}

a:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

.submit{
    text-align:center;
    padding:25px;
}

#menu span {
    background-color: #4b0f68;
    color: #dbd0ff;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 6px 6px 2px 1px #dbd0ff;
}

h3 {
    width: 100%;
    text-align: center;
}

p {
    text-align: justify;
}
.button{
    padding:10px;
    cursor:pointer;
    border-radius:2px;
    border: solid groove;
    background-color:white;
}